<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Todo Item List</title>
</head>
<body>
    <h1>Welcome to yours todo Item List!</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Information</th>
                    <th>Due to</th>
                    <th>Is done</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="todoItem : ${todoItems}">
                    <td th:text="${todoItem.title}"></td>
                    <td th:text="${todoItem.information}"></td>
                    <td th:text="${todoItem.dueTo}"></td>
                    <td th:text="${todoItem.isCompleted}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>